.header {
  font-size: 50px;
  text-align: center;
  font-family: Comic Sans MS;
}

.container {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.food {
  width: 200px;
  height: 150px;
  margin: 50px;
}

.buttons {
  text-align: center;
  margin: 5px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.word {
  font-family: Comic Sans MS;
  font-size: 25px;
}
