.tittle {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 40px;
  padding: 10px;
}

.content {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 20px;
  padding: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; //一行放不下自动放第二行
}

.button1 {
  width: 100px;
  margin: 30px;

}


