<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  Cooking Game
</div>

<div class="container">
  <div class="card" style="width: 18rem; margin: 30px;">
    <img class="card-img-top card-img-top" src="egg.jpg" alt="Card image cap">
    <div class="card-body" style="text-align:center;">
      <div class="card-body" style="text-align:center;">
        <h5 class="card-title">Egg</h5>
        <button class="btn btn-primary buttons" (click)="addFood1()">Add</button>
      </div>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin: 30px;">
    <img class="card-img-top card-img-top"src="onion.jpg" alt="Card image cap">
    <div class="card-body" style="text-align:center;">
      <div class="card-body" style="text-align:center;">
        <h5 class="card-title">Onion</h5>
        <button class="btn btn-primary buttons" (click)="addFood2()">Add</button>
      </div>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin: 30px;">
    <img class="card-img-top card-img-top"src="potato.jpg" alt="Card image cap">
    <div class="card-body" style="text-align:center;">
      <div class="card-body" style="text-align:center;">
        <h5 class="card-title">Potato</h5>
        <button class="btn btn-primary buttons" (click)="addFood3()">Add</button>
      </div>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin: 30px;">
    <img class="card-img-top card-img-top"src="tomato.jpg" alt="Card image cap">
    <div class="card-body" style="text-align:center;">
      <div class="card-body" style="text-align:center;">
        <h5 class="card-title">Tomato</h5>
        <button class="btn btn-primary buttons"  (click)="addFood4()">Add</button>
      </div>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin: 30px;">
    <img class="card-img-top card-img-top"src="chili.jpg" alt="Card image cap">
    <div class="card-body" style="text-align:center;">
      <div class="card-body" style="text-align:center;">
        <h5 class="card-title">Chili</h5>
        <button class="btn btn-primary buttons" (click)="addFood5()">Add</button>
      </div>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin: 30px;">
    <img class="card-img-top card-img-top"src="porkBelly.jpg" alt="Card image cap">
    <div class="card-body" style="text-align:center;">
      <div class="card-body" style="text-align:center;">
        <h5 class="card-title">Pork Belly</h5>
        <button class="btn btn-primary buttons" (click)="addFood6()">Add</button>
      </div>
    </div>
  </div>

  <button class="btn btn-primary buttons" (click)="check()">Cook</button>
  <div *ngIf="True" class="word">Success!</div>
  <div *ngIf="False" class="word">Please try again</div>
</div>
